.city-life {
    
}
.city-life__container {
    padding: 136px 151px 270px;
    background: url(../../images/city-life-img.png) no-repeat center / cover;
}
.city-life__inner {
    max-width: 59%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.city-life__title {
    max-width: 80%;
    font-family: var(--second-family);
    font-weight: 300;
font-size: 64px;
line-height: 100%;
text-transform: uppercase;
color: var(--brand-brown);
}
.city-life__content {
    display: flex;
    gap: 48px;
}
.city-life__video-wrapper {
    position: relative;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
}
.city-life__video-placeholder {
    width: 100%;
    height: 100%;
}
.city-life__video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}
.city-life__video-icon {}
.city-life__video-text {
    font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: var(--white);
}
.city-life__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.city-life__list-item {
    font-size: 20px;
color: var(--dark-brown);
display: flex;
gap: 16px;
}

.city-life__list-item::before {
    content: "";
    display: inline-flex;
    margin-top: 8px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 100%;
background: var(--dark-brown);
}
