.comfort {
    background: url(../../decor/noise-bg.png) repeat;
}

.comfort__container {
    padding-block: 120px 79px;
}

@media (width <= 768px) {
    .comfort__container {
    padding-block: 80px 94px;
}
}

@media (width <= 1300px) {
    .comfort__container {
    padding-block: 64px 63px;
}
}


.comfort__inner {
    padding-right: 109px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (width <= 768px) {
.comfort__inner {
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
}

.comfort__title {
    color: var(--white);
    margin-bottom: 40px;
}

.comfort__subtitle {
    color: var(--light-brown-2);
    max-width: 60%;
    text-wrap: balance;
}

@media (width <= 768px) {
.comfort__subtitle {
    max-width: 100%;
}
}

.comfort__list {
    display: flex;
    gap: 135px;
}

@media (width <= 768px) {
.comfort__list {
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
}
}

.comfort__list-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
}

@media (width <= 768px) {
.comfort__list-item {
    gap: 8px;
    min-width: 244px;
}
}

.comfort__list-item-icon-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
}

@media (width <= 768px) {
.comfort__list-item-icon-wrapper {
    width: 56px;
    height: 56px;
}
}

.comfort__list-item-title {
    width: 60%;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--light-brown-2);
}

@media (width <= 768px) {
.comfort__list-item-title {
    width: 100%;
font-size: 24px;
}
}

.comfort__list-item-description {
    font-size: 20px;
    color: var(--middle-brown);
}

@media (width <= 768px) {
.comfort__list-item-description {
    font-size: 16px;
}
}

.comfort__parking {
    display: flex;
    gap: 106px;
    justify-content: space-between;
}

@media (width <= 768px) {
.comfort__parking {
    gap: 40px;
}
}

@media (width <= 1300px) {
.comfort__parking {
    flex-direction: column;
}
}

.comfort__parking-video-wrapper {
    min-height: 573px;
    flex: 1;
    position: relative;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

@media (width <= 768px) {
.comfort__parking-video-wrapper {
   padding: 16px;
}
}
@media (width <= 1300px) {
.comfort__parking-video-wrapper {
   min-height: 426px;
}
}
.comfort__parking-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;
}

@media (width <= 768px) {
.comfort__parking-info {
    gap: 16px;
}
}

.comfort__parking-info:first-of-type {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: flex-start;
    margin-bottom: auto;
}

.comfort__parking-info-number {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 80px;
    line-height: 100%;
    color: var(--brown);
}

@media (width <= 768px) {
.comfort__parking-info-number {
    font-size: 40px;
}
}


.comfort__parking-info-text {
    font-family: var(--third-family);
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--middle-brown);
}

@media (width <= 768px) {
.comfort__parking-info-text {
    font-size: 14px;
}
}

.comfort__parking-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
      object-fit: cover;
      height: 100%;
}

.comfort__parking-list {
    max-width: 28%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

@media (width <= 1300px) {
    .comfort__parking-list {
    max-width: 65%;
    gap: 16px;
    }
}

.comfort__parking-list-item {
    max-width: 70%;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: var(--middle-brown);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (width <= 768px) {
.comfort__parking-list-item {
    max-width: 100%;
    font-size: 16px;
    line-height: 20px;
    gap: 4px;
}
}

.comfort__parking-list-item-icon-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

@media (width <= 768px) {
.comfort__parking-list-item-icon-wrapper {
    width: 56px;
    height: 56px;
}
}

@media (width <= 768px) {
.comfort__parking-list-item-icon {
max-height: 56px;
}
}

.comfort__parking-list-item-text {}