.footer {
    background: url(../../decor/noise-bg.png) repeat;
    position: relative;
}
.footer__container {
    padding-block: 97px 29px;
    display: flex;
    flex-direction: column;
}
@media (width <= 480px) {
.footer__container {
    padding-block: 64px 40px;
}
}
.footer__top {
    margin-bottom: 66px;
    display: flex;
    justify-content: space-between;
    color: var(--middle-brown);
}
@media (width <= 1100px) {
    .footer__top {
    margin-bottom: 45px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
}
@media (width <= 480px) {
    .footer__top {
    margin-bottom: 36px;
}
}
.footer__nav {
}
.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__menu-link {
    font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: var(--middle-brown);
}
@media (width <= 1100px) {
    .footer__menu-link {
font-size: 14px;
    }
}
.footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer__logo-link {}

.footer__logo {}

@media (width <= 1100px) {
.footer__logo {
    width: 282px;
}
}
@media (width <= 480px) {
.footer__logo {
    width: 190px;
}
}
.footer__tel-link {
    font-family: var(--second-family);
font-weight: 300;
font-size: 80px;
line-height: 100%;
text-align: center;
color: var(--brown);
}
@media (width <= 1100px) {
    .footer__tel-link {
        font-size: 48px;
    }
}
.footer__button {
    padding: 29px 84px 26px;
    font-weight: 400;
font-size: 18px;
text-transform: uppercase;
background: var(--white);
border: none;
}
@media (width <= 1100px) {
.footer__button {
    padding: 14px 64px;
    font-weight: 300;
font-size: 14px;
}
}
.footer__contacts {
    text-wrap: balance;
    max-width: 20%;
    font-weight: 400;
    color: var(--middle-brown);
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}
@media (width <= 1100px) {
.footer__contacts {
    margin-top: 16px;
    max-width: 100%;
    text-align: center;
    align-items: center;
}
}
.footer__contacts-title {
text-transform: uppercase;
font-weight: 400;
font-size: 18px;
}
@media (width <= 1100px) {
.footer__contacts-title {
    font-size: 14px;
}
}
.footer__contacts-info {
    font-family: var(--third-family);
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: var(--brown);
}
@media (width <= 1100px) {
.footer__contacts-info {
font-size: 16px;
}
}
.footer__contacts-link {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: var(--middle-brown);
}
@media (width <= 1100px) {
.footer__contacts-link {
font-size: 14px;
}
}
.footer__contacts-socials {
    margin-top: 26px;
    display: flex;
    gap: 24px;
    color: var(--brown);
}
@media (width <= 1100px) {
.footer__contacts-socials {
    margin-top: 8px;
    gap: 8px;
}
}
.footer__contacts-social-link {
    width: 64px;
    height: 62px;
    color: var(--brown);
}
.footer__contacts-social-icon {
    width: 54px;
    height: 54px;
}
@media (width <= 480px) {
.footer__contacts-social-icon {
  width: 40px;
    height: 40px;
}
}
@media (width <= 1100px) {
.footer__nav {
order: 2;
text-align: center;
}
.footer__logo-wrapper {
order: 1;
gap: 24px;
}

.footer__contacts {
order: 3;
}
}
.footer__middle {
    padding-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
.footer__middle-text {
    max-width: 80%;
    font-family: var(--third-family);
font-weight: 400;
font-size: 14px;
color: rgba(187, 173, 161, 0.57);
}
@media (width <= 1100px) {
.footer__middle-text {
    font-weight: 300;
    max-width: 100%;
    font-size: 12px;
}
}
@media (width <= 480px) {
.footer__middle-text {
    text-align: center;
}
}
.footer__middle-button {
    padding-top: 23px;
    width: 96px;
    height: 96px;
    background: var(--brand-brown);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--brown-darken);
    font-family: var(--third-family);
font-weight: 400;
font-size: 16px;
text-align: center;
color: var(--brown);
}
@media (width <= 1100px) {
.footer__middle-button {
    padding-top: 13px;
    position: absolute;
    top: 32px;
    right: 24px;
    width: 64px;
    height: 64px;
    font-size: 12px;
}
}
.footer__middle-button-icon {
    transform: rotate(-45deg);
}
@media (width <= 1100px) {
.footer__middle-button-icon {
    width: 16px;
    height: 16px;
}
}
.footer__bottom {
    padding-top: 26px;
    font-family: var(--third-family);
font-weight: 400;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--middle-brown);
display: flex;
justify-content: flex-start;
gap: 88px;
}
@media (width <= 1100px) {
.footer__bottom {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
}
}
@media (width <= 1100px) {
    .footer__bottom-text {
    text-align: center;
}
}

.footer__bottom-link {
    font-family: var(--third-family);
font-weight: 400;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--middle-brown);
}

@media (width <= 480px) {
.footer__bottom-link {
font-size: 12px;
}
}

.footer__bottom-cop {
    margin-left: auto;
}
@media (width <= 1100px) {
.footer__bottom-cop {
    margin-inline: auto;
    margin-top: 24px;
}
}
