.infrastructure {
    background: var(--white);
}

.infrastructure__container {
    padding-block: 120px;
    display: flex;
    justify-content: center;
}

.infrastructure__inner {
    width: 80%;
    display: flex;
    gap: 167px;
}

.infrastructure__media {
  max-height: 731px;
  width: 41%;
  position: relative;
  border-radius: 800px 800px 0 0;
  overflow: hidden;
}

.infrastructure__media::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 25%;
    background: url(../../decor/wave-short-white.svg) no-repeat center / cover;
    z-index: 1;
}

.infrastructure__image {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility var(--transition-time) ease-out, opacity var(--transition-time) ease-out;
  z-index: 0;
}

.infrastructure__image.is-active {
  visibility: visible;
  opacity: 1;
}

.infrastructure__accordion {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infrastructure__title {
font-family: var(--second-family);
font-weight: 300;
font-size: 36px;
line-height: 124%;
letter-spacing: 0.01em;
text-transform: uppercase;
}

.infrastructure__item {
  padding-block: 30px;
  border-bottom: 1px solid var(--dark-brown);
}

.infrastructure__summary {
  font-size: 22px;
letter-spacing: 0.02em;
text-transform: uppercase;
color: var(--brand-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color var(--transition-time) ease-out;
}

.infrastructure__summary:hover {
color: var(--brown-darken);
}

.infrastructure__content {
  margin-top: 22px;
  padding-right: 40px;
  font-family: var(--third-family);
font-weight: 400;
font-size: 20px;
} 

.infrastructure__icon {
  width: 34px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}

.infrastructure__icon::before,
.infrastructure__icon::after {
  content: "";
  position: absolute;
  background: var(--dark-brown);
  border-radius: 1px;
}

.infrastructure__icon::before {
  width: 16px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infrastructure__icon::after {
  width: 1px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition-time) ease-out;
}

.infrastructure__item[open] .infrastructure__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}