.lobby {
    background: var(--white);
}
.lobby__container {
    padding-block: 26px 80px;
}
@media (width <= 768px) {
.lobby__container {
    padding-bottom:64px;
}
}
@media (width <= 360px) {
.lobby__container {
    padding-top:0px;
}
}
.lobby__inner {

}
.lobby__title {

}
.lobby__subtitle {
    max-width: 70%;
    margin-bottom: 32px;
}
@media (width <= 768px) {
.lobby__subtitle {
        max-width: 100%;
    margin-bottom: 16px;
}
}
.lobby__description {
    max-width: 40%;
    font-size: 20px;
}
@media (width <= 768px) {
    .lobby__description {
    max-width: 100%;
    font-size: 16px;
}
}
.lobby__img-wrapper {
    margin-top: 80px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
}
@media (width <= 768px) {
.lobby__img-wrapper {
    margin-top: 24px;
    gap: 16px;
}
}
.lobby__img {
        min-width: 242px;
      flex: 1;
  width: 100%;
  height: auto;
}
