@media (width > 1200px) {
  .popup {
    display: none !important;
  }
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Активное состояние */
.popup.active {
  pointer-events: auto;
}

/* Оверлей */
.popup::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: opacity 0.3s ease;
}

.popup.active::before {
  opacity: 1;
}

/* Контент */
.popup__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 -8px 51px 0 rgba(0, 0, 0, 0.24);
background: var(--white);
border-radius: 16px 16px 0 0;
padding: 0px 0px 24px;
  transform: translateY(100%);
  transition: transform var(--transition-time) ease-out;
}

/* Анимация выезда */
.popup.active .popup__content {
  transform: translateY(0);
}

.popup__top {
    padding: 16px;
    color: var(--dark-brown);
    display: flex;
    justify-content: space-between;
}

.popup__close {
    width: 32px;
    height: 32px;
}

.popup__close-icon {
    transition: color var(--transition-time) ease-out, transform var(--transition-time) ease-out;
}

.popup__close-icon:hover {
    color: var(--brown-darken);
    transform: scale(1.1);
}

.popup__title {
font-family: var(--second-family);
font-weight: 300;
font-size: 24px;
line-height: 124%;
letter-spacing: 0.01em;
text-transform: uppercase;
}

.popup__description {
  margin-bottom: 16px;
    padding-inline: 16px;
    font-size: 16px;
color: var(--dark-brown);
text-wrap: pretty;
}

.popup__list {
  padding-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.popup__list-item {
    font-size: 16px;
color: var(--dark-brown);
    display: flex;
    align-items: center;
    gap: 16px;
}

.popup__list-item::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--dark-brown);
    ;
}