.roof {
    background: var(--white);
}
.roof__container {
    padding-top: 26px;
}
.roof__inner {
display: flex;
flex-direction: column;
gap: 80px;
}
.roof__header {

}
.roof__title {
    margin-bottom: 66px;
    font-weight: 300;
font-size: 22px;
letter-spacing: 0.02em;
text-transform: uppercase;
}
.roof__description {
    margin-bottom: 32px;
    font-family: var(--second-family);
font-weight: 300;
font-size: 48px;
line-height: 124%;
text-transform: uppercase;
}
.roof__description span {
color: var(--brown);
}
.roof__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.roof__info-number {
    font-family: var(--second-family);
    font-size: 140px;
line-height: 100%;
color: var(--brand-brown);
}
.roof__info-text {
    font-size: 22px;
letter-spacing: 0.02em;
text-transform: uppercase;
}
/* .roof__slider {
    position: relative;
    width: 100%;
  overflow: hidden;
  min-height: 900px;
}
.roof__slide {
    position: relative;
  overflow: hidden;
  min-height: 900px;
  display: flex !important;
  align-items: flex-end;
}
.roof__slide-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.roof__slide-content {
    width: 100%;
  position: relative;
  z-index: 1;
  padding: 0px 80px 32px 41px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.roof__slide-title {
    margin-bottom: 10px;
    font-family: var(--second-family);
font-weight: 300;
font-size: 48px;
line-height: 124%;
text-transform: uppercase;
}
.roof__slide-content-bottom {
    display: flex;
    justify-content: space-between;
}
.roof__slide-description {
    font-weight: 300;
    max-width: 45%;
    font-size: 20px;
        line-height: 140%;
}
.roof__slide-number {
    font-family: var(--second-family);
font-size: 48px;
line-height: 208%;
text-align: right;
}
.roof__slider-pagination {
    z-index: 1;
}

.roof__slider-nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.roof__slider-nav-button {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: hsla(0, 0%, 0%, 0.4);
    backdrop-filter: blur(1px);

    z-index: 10;
}

@media (width <= 768px) {
.roof__slider-nav-button {
     width: 48px;
    height: 48px;
    top: 22%;
}
}

.roof__slider-button-icon {
    color: #ffffffc5;
    width: 32px;
    height: 32px;
}

@media (width <= 768px) {
.roof__slider-button-icon {
    width: 20px;
    height: 20px;
}
}

.roof__slider-nav-button--next {
    right: 23px;
}

.roof__slider-nav-button--prev {
    left: 23px;
    transform: scaleX(-1);
} */
